.navbar-nav, .navbar-brand, .brand-span{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav{
    border-bottom: solid 7px #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.navbar-nav{
    font-size: 1.2em;
}

.navbar-brand{
    font-size: 2em;
    margin-left: 1em;
}

.navbar-brand:hover{
    text-shadow: -.1em .1em .2em #080808;
    }

.nav-item{
    margin-left: 1.7em;
}

.nav .nav-item a:hover{
color: #E7C747 !important;
text-shadow: -.1em .1em .2em #080808;
}

.brand-span{
    color: #E7C747;
    font-size: .5em;
}

.row-01{

    margin-top: .5em;
}

.carousel-inner{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.featurette-divider{
    margin-top: 2em;
    margin-bottom: 1.5em;
}

.carousel-caption {
    padding: 1em;
    border-radius: 10px;
    background-color: rgba(27, 27, 26, 0.596) !important;
}

.titulo-perfil h2{
    margin-top: .5em;
    margin-bottom: 1em;
}

.seccion-perfil-foto img{
    border: solid 5px #08080836;
    border-radius: 250px;
}

.titulo-tecnologias, .titulo-Estudios{
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.seccion-tecnologia img{
    border: solid 5px #08080836;
    border-radius: 150px;
}

.seccion-tecnologia h2{
    margin-top: 1em;
    margin-left: 2em;
}

.seccion-tecnologia  button{
    margin-top: 1em;
    margin-left: 3em;
}